body{
    font-family: Tahoma;
}


/*Der Style für die Sidebar und alles dort enthaltene*/

.sidebar{
    width: 15%;
    height:100%;
    background-color: #e1e1e1;
    position: fixed!important;
    top: 0;
    left: 0;
    z-index:1;
    padding-top: 1%;
    padding-left: 1.5%;
    padding-bottom: 300px;
    overflow: auto;
    border-right: 2px solid #bebebe;

}
ul{
    padding: 0;
}
.sidebar, h3, li {
    padding: 30px 20px 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    position: relative;

}
.sidebar li {
    border: 3px solid rgb(155, 152, 152);
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 3%;
}
.sidebar button{
    width: 100%;
    padding: 10px 16px 10px 10px;
    font-size: 25px;
    border-radius: 10px;
    border: 3px solid rgb(155, 152, 152);
    background-color: transparent;
    margin-right: 8%;
}
 button:active {
    transform: scale(0.95);
}
a {
    text-decoration: none;
    color: #021280;
}
.sidebar li:hover, .sidebar button:hover{
    background-color: #acacac;
    color: white;
}


/*Der Style für die Playlistüberschrift und den Playbutton*/

#searchbardiv{
    padding-left: 100px;
    padding-top: 1%;
    position: fixed;

}

/* Styling der Suchleiste*/
#searchbardiv input{
    border: 2px solid;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 25px;
    padding: 10px;
    padding-right: 500px;

}
/*style für die songliste der homepge*/

.song-main-table{
    padding-top: 10%;
    border: none;
    text-align: left;
}
.song-main-table th,.song-main-table td{
    font-size: 25px;
    padding: 5px;
    border: none;
    padding-left: 100px;
}

.song-playlist-table{
    padding-top:0%;
    border: none;
    text-align: left;
    position: relative;
}
.song-playlist-table th,.song-playlist-table td {
    font-size: 23px;
    padding: 15px;
    border: none;
    padding-left: 100px;
}

/*Der Style für den Footer*/

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    border-top: black;
    background-color: black;
    padding: 30px;
    text-align: center;
    color: black;
    z-index: 2;
}



/*Der Style für die Buttons Play, Skip und Back*/

.playbutton{
    background-color: black;
    border: none;
    border-radius: 50%;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

/*Der Style für sämtliche Buttons auf der Warteschlange*/

.deletebutton{
    background-color: white;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 12px 16px;
    margin-bottom: 40%;
    font-size: 16px;
    cursor: pointer;
}



/*Die Styles für den dropupbutton sowie den dropup Inhalt*/

.dropup {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    width: 800%;
    height: 2000%;
    bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 3;
}
/*Die Änderung die stattfinden soll, wenn auf den dropupbutton gedrückt wird*/
.show {
    display:block;
}



/*Die Styles für die verschiedenen Songarten*/

.actSong{
    color: white;
    position: absolute;
    width: 20%;
    float: left;
    bottom: 20px;
    margin-top: 0;
    margin-left: 15%;
    border-style: solid;
    border-color: white;
}
.waitSong{
    color: black;
    position: relative;
    width: 90%;
    float: left;
    bottom: 20px;
    margin-top: 5%;
    margin-left: 5%;
    border-style: solid;
    border-color: black;
}
.songTable{
    width: 100%;
    border: none;
}
.songTable th{
    text-align: left;
}
.waitList{
    width: 100%;
}
.waitList th{
    width: 80%;
}
.songBtn{
    border: none;
    width: 100%;
    background-color: white;
    font-weight: bold;
    font-size: 100%;
}