<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>-->
<!--    <style>-->
<!--        .password-verdict {-->
<!--            color: #000;-->
<!--        }-->
<!--    </style>-->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>-->
<!--    <title>Registration Form</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div>-->
<!--        <h1>Registration Form</h1>-->
<!--        <br/>-->
<!--        <form method="POST" enctype="utf8">-->
<!--            <div class="form-group row">-->
<!--                <label for="userName" class="col-sm-3">Username:</label>-->
<!--                <span class="col-sm-5"><input id="userName" class="form-control" name="userName" value=""-->
<!--                                              required="required"/></span>-->
<!--                <span id="userNameError" class="alert alert-danger col-sm-4" style="display:none"></span>-->

<!--            </div>-->
<!--            <div class="form-group row">-->
<!--                <label for="password" class="col-sm-3">Password: </label>-->
<!--                <span class="col-sm-5"><input id="password" class="form-control" name="password" value=""-->
<!--                                              type="password" required="required" autocomplete="new-password"/></span>-->
<!--                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>-->
<!--            </div>-->
<!--            <div class="form-group row">-->
<!--                <label for="matchPassword" class="col-sm-3">Confirm password</label>-->
<!--                <span class="col-sm-5"><input id="matchPassword" class="form-control" name="matchingPassword" value=""-->
<!--                                              type="password" required="required" autocomplete="new-password"/></span>-->
<!--                <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>-->
<!--            </div>-->
<!--            <br/>-->
<!--            <button type="submit" class="btn btn-primary">Submit</button>-->
<!--        </form>-->
<!--        <br/>-->
<!--        <a th:href="@{/login}">Back to login</a>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->